---
import Layout from "../layouts/Layout.astro";

const pageTitle = "My Astro Learning Blog";
---

<a href="/">Home</a>
<a href="/about">About</a>

<Layout>
  <h1>{pageTitle}</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta commodi
    aliquam hic? Tenetur obcaecati vel consequuntur architecto pariatur. Sed,
    repellendus. Laborum quasi dignissimos necessitatibus? Ipsam deserunt earum
    doloribus excepturi odit!
  </p>
</Layout>
